.home-container {
  display: flex;

  justify-content: center;
  flex-direction: column;
}

.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #2f2f43;
  margin-top: 120px;
  margin-left: 308px;
  margin-right: 308px;
  border-radius: 8px;
}

.search-icon {
  width: 28px;
  height: 28px;
  color: #94a3b8;
  margin-left: 32px;
}

.search-bar {
  width: 824px;
  height: 80px;
  border: none;
  outline: none;
  background-color: transparent;
  margin-left: 8px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #94a3b8;
}

.stats-main-container {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}

.top-container {
  display: flex;
  align-items: center;
}

.stats-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.stats-description {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.stats-count {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
}

.gray {
  color: #6c757d;
}

.red {
  color: #ff073a;
}

.green {
  color: #28a745;
}

.blue {
  color: #007bff;
}

.main-table-style {
  width: 90%;
  background: #1e1e30;
  border: 1px solid #475569;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.16);
  border-radius: 12px;
  align-self: center;
  margin-top: 30px;
}

.table-header-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  border: 1px solid #475569;
}

.first-column {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 23.7%;
}

.order-button {
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 25px;
  cursor: pointer;
}

.order-icon {
  color: #94a3b8;
}

.stats-heading {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #f8fafc;
}

.columns {
  width: 16%;
}

.uno-list-container {
  display: flex;
  flex-direction: column;
}

.state-wise-container {
  display: flex;
  flex-direction: column;
}

.state-result-table {
  display: flex;
  flex-direction: column;
}

.state-result-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
